<% include ./partials/header.ejs %>
<% include ./partials/midcontact.ejs %>

<div class="container">

  <div class="jumbotron">
    <h1 id="header"> Contact Us </h1>
    <p>Zetta G&nbsp;&nbsp;&copy;All Rights Reserved<br/>
CEO : Piyush Parashar ( Student B.Tech CSE )<br/>Email Us At : p.piyush996@gmail.com<br/>Enrollment Number : 01025502715</p> 
  </div>
  </div>

 <% include ./partials/footer.ejs %>