<% include ./partials/header.ejs %>
<% include ./partials/midgallery.ejs %>

<br>
<div class="container">

  <div class="jumbotron">
    <h1><i class="fa fa-camera" aria-hidden="true"></i> Image Gallery </h1>
    <p>Browse Through The Gallery To Relax Yourself !!</p> 
  </div>

    
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="/img/1.jpeg"><img src="/img/1.jpeg"></a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/2.jpeg"><img src="img/2.jpeg"></a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/3.jpeg"><img src="img/3.jpeg"></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/7.jpeg"><img src="img/7.jpeg"></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/5.jpeg"><img src="img/5.jpeg"></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/6.jpeg"><img src="img/6.jpeg"></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/8.jpeg"><img src="img/8.jpeg"></a>
        </div>
      </div>
        <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/9.jpeg"><img src="img/9.jpeg"></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a href="img/4.jpeg"><img src="img/4.jpeg"></a>
      </div>
    </div>
<% include ./partials/footer.ejs %>