<% include partials/header.ejs %>
<% include partials/midgamehome.ejs %>
<div align="center" class="col-xs-12"><h1>Tic Tac Toe Game Rules</h1></div>
<div align="center" class="col-xs-12">
<p>
<ol>
<li>Player 1 starts the game with zero</li>
<li>Player 2 starts the game with cross</li>
<li>Click the cell to mark zero/cross</li>
<li>If no one wins its a Draw ! Reset The Game To Play Again</li>
<li>You Can Reset The Game Anytime In Between But Don't Cheat xD </li>
<li>All Rights Reserved&copy;  PP    </li>
</ol>
</p>
<center><a href="game"><button class="btn-success btn-lg">Lets Play</button></a></center>
</div>
<% include partials/footer.ejs %>