<% include ./partials/header.ejs %>
<% include ./partials/midhome.ejs %>
<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Zetta G</h1>
 				<h3>The Only Place To Relax On Internet</h3>
 				<hr>
 				<a href="gallery"><button class="btn btn-info btn-lg">Visit Our Gallery</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 				<a href="gamehome"><button class="btn btn-info btn-lg">Play Game !</button></a>
 			</div>
 		</div>
 	</div>
 </div>
<% include ./partials/footer.ejs %>