body {
    background: url('../img/index.jpg');
    background-size: cover;
    background-position: center; 
    padding-top: 60px;
}
.jumbotron {
    margin-top: 70px;
}
#header {
    padding-bottom: 10px;
    border-bottom: 3px solid silver;
    width: 40%;
    font-size: 80px;
}
p {
    padding-top: 20px;
    font-family: Verdena;
    font-size: 2.5em;
}